<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Employee</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
	</head>
	<body class="body">
	<header th:replace="/layouts/header :: header"> </header>
		
		<main class="form-text text-danger col-sm-10 offset-2">
      <h3>Nuevo Empleado</h3>
       </main>
       	
       <hr>
      <br>
      <div class="cont-form">
    
        
        <form th:action="@{/employee/save}" th:object="${employee}" method="post" class="row g-3"> 
        
      		<div class="form-text text-danger col-sm-10 offset-2">
            	<label for="employeeNumber" class="form-label">Empleado Numero</label>
            	<input th:field="*{employeeNumber}" type="number" class="form-control" id="employeeNumber" />
          	</div>
          	<div class="form-text text-danger col-sm-10 offset-2">
            	<label for="lastName" class="form-label">Nombre</label>
            	<input th:field="*{lastName}" type="text" class="form-control" id="lastName" />
          	</div>
          	<div class="form-text text-danger col-sm-10 offset-2">
            	<label for="firstName" class="form-label">Apellido</label>
            	<input th:field="*{firstName}" type="text" class="form-control" id="firstName" />
          	</div>
          	<div class="form-text text-danger col-sm-10 offset-2">
           		<label for="extension" class="form-label">Extension</label>
            	<input th:field="*{extension}" type="text" class="form-control" id="extension" />
          	</div>
          	<div class="form-text text-danger col-sm-10 offset-2">
            	<label for="email" class="form-label">Email</label>
            	<input th:field="*{email}"
              	type="email" class="form-control"
              	id="email" placeholder="unjuusuario@gmail.com"
            />
            
          </div>
          
          <div class="form-text text-danger col-sm-10 offset-2">
            <label  for="officeCode" class="form-label">Office Code</label>
            <select th:field="*{officeCode.officeCode}" name="officeCode" id="officeCode" class="form-select">
				<option th:each="o: ${offices}" th:value="${o.officeCode}" ><span th:text="${o.officeCode}" ></span></option>
								  
			</select>
          </div>
          
          <div class="form-text text-danger col-sm-10 offset-2">
            <label for="employee" class="form-label">Reporte por</label>
          	 
          	 <select th:field="*{employeeNumber}" name="employeeNumber" id="employeeNumber" class="form-select">
          	 	<option value="0" >None</option>
				<option th:each="e: ${employees}" th:value="${e.employeeNumber}" > <span th:text="${e.lastName} + ${e.firstName}"></span></option>
								  
			</select>
          </div>
          
          
          <div class="form-text text-danger col-sm-10 offset-2">
            <label for="jobTitle" class="form-label">Titulo Trabajo</label>
            <input th:field="*{jobTitle}" type="text" class="form-control" id="jobTitle" />
          </div>
           
        
          <br>
          <hr>
          <br>
           
          
          <div class="col-sm-10 offset-2">
            <button type="submit" class="btn mt-2 btn-primary">
              Guardar Empleado
            </button>
            
          </div>
            <aside th:replace="/layouts/publicidad :: aside"> </aside>
        </form>
      </div>
     
          
   <footer th:replace="/layouts/footer :: footer"> </footer>
<script type="text/javascript" th:src=@{/webjars/jquery/3.5.1/jquery.min.js}></script>
<script type="text/javascript" th:src=@{/webjars/popper.js/1.16.1-lts/popper.min.js}></script>
<script type="text/javascript" th:src=@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}></script>
	</body>
</html>