<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Lista Empleado</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
	</head>
<body>
	<header th:replace="/layouts/header :: header"> </header>
	<main class="form-text text-danger w-75 m-auto mt-3 mb-3 main text-center">
      <h3>Lista de Empleados</h3>
       </main>
	<div class="container-fluid">
		<div class="row">
			<section class="col-md-10">
		
      
      <div class="text-center">
        <div class="table-responsive">
        	<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th>ID </th>
			      <th>Apellido</th>
			      <th >Nombres</th>
			      <th >Extension</th>
			      <th >Email</th>
			      <th > Oficina</th>
			      <th >Reporta a</th>
			      <th >Puesto de Trabajo </th>
			     <!--   <th >User id</th>-->
			      <th >Acciones</th>
			      
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="e: ${employees}" >
					<td th:text="${e.employeeNumber}"></td>
					<td th:text="${e.lastName}"></td>
					<td th:text="${e.firstName}"></td>
					<td th:text="${e.extension}"></td>
					<td th:text="${e.email}"></td>
					<td th:text="${e.officeCode.officeCode}+', Direccion:'+${e.officeCode.addressLine1}"></td>
				    <td th:if="${e.reportsTo==null}" ></td>
					<td th:if="${e.reportsTo!=null}" th:text="${e.reportsTo.lastName}+', '+${e.reportsTo.firstName}"></td>
					<td th:text="${e.jobTitle}"></td>
					<!--  <td th:text="${e.user.id}"></td> -->
					<td> 
						<a th:href="@{/employee/modificar/}+${e.employeeNumber}" class="btn btn-success">Editar</a>
						<a th:href="@{/employee/eliminar/}+${e.employeeNumber}" class="btn btn-danger">Eliminar</a>
					 </td>
				</tr>
			  </tbody>
			</table>
        </div>
        </div>	
			</section>

         </div>
          
     
      </div>
    <footer th:replace="/layouts/footer :: footer"> </footer>
<script type="text/javascript" th:src=@{/webjars/jquery/3.5.1/jquery.min.js}></script>
<script type="text/javascript" th:src=@{/webjars/popper.js/1.16.1-lts/popper.min.js}></script>
<script type="text/javascript" th:src=@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}></script>
    
	
	</body>
</html>