<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<footer th:fragment="footer" class="footer mt-auto py-3">
		   <!--  <div class="card text-center">
			  <div class="card-header">
			    ¡Llegaste al fin!
			  </div>
			  <div class="card-body">
			    <h5 class="card-title"></h5>
			    <p class="card-text">Llegaste al final de la pagina, haz click abajo para volver.</p>
			    <a href="#" class="btn btn-primary">Ir con Diosito</a>
			  </div>
			  <div class="card-footer text-muted">
			    Programación Visual 2021 - Todos los derechos reservados
			  </div>
			</div> -->
			<div class="bg-dark text-secondary px-4 py-5 text-center"> 
			    <h1 class="display-5 fw-bold text-white">Programación Visual APU-FI-UNJu</h1>
			    <h3 class="display-5 fw-bold text-white">Trabajo Práctico Grupal</h3>
				    <div class="col-lg-6 mx-auto">     
				      <p class="fs-5 mb-4">Autor GrupoEJPK21</p>	     
				    </div>
				    <div>
				    <a>
					    <img src="/images/logo-facebook.png" width="30" height="30" class="d-inline-block align-top" alt=""> 
					    <img src="/images/logo-instagram.png" width="30" height="30" class="d-inline-block align-top" alt=""> 
					   	<img src="/images/logo-wpp.png" width="30" height="30" class="d-inline-block align-top" alt=""> 
					</a>
				    </div>
			</div>
	 	 </footer>
	</body>
</html>