<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<aside th:fragment="aside" class="d-none d-lg-block col-md-2 ">
			<div class="card border-light mb-2 " style="max-width: 18rem;">
			<!-- <div class="card-body "> -->
					
					 <!--  </div> -->
					  	<a href="http://www.pepsicoargentina.com/"> <img src="/images/pepsi.jpg" class="img-thumbnail" alt="..."> </a>
					  	
					</div>
					
					<div class="card border-light mb-2 " style="max-width: 18rem;">
					 <!-- <div class="card-body "> -->
			
					 <!--  </div> -->
					  	<a href="https://rog.asus.com/phones/rog-phone-model/"> <img src="/images/asus.jpg" class="img-thumbnail" alt="..."> </a>
					  	
					</div>
					
					<div class="card border-light mb-2 " style="max-width: 18rem;">
					 <!-- <div class="card-body "> -->
			
					 <!--  </div> -->
					  	<a href="https://www.farmacity.com/"> <img src="/images/fc.jpg" class="img-thumbnail" alt="..."> </a>
					  	
					</div>		 
						
		</aside>
	</body>
</html>